.tabela {
  display: flex;
  background-color: rgb(231, 231, 231);

  font-weight: 300;
  flex-direction: column;
  display: flex;

  height: 400px;
  padding: 20px 30px;
  border-radius: 15px;

  margin: 10px;
}

.itens-tabela {
  justify-items: center;
}