.mat-mdc-form-field {
  width: 100%;
}
.container {
  display: flex;
  min-height: 500px;
  font-weight: 100;
}

.tabela-itens {
  width: 40%;
  border-spacing: 50px;
}

.itens-selecionados {
  width: 60%;

}

