
.header {
  background-color: rgba(38, 53, 53, 0.87);
  margin: 0px;
  padding: 20px 0px;

}

h1 {
  display: inline-block;
  color: white;
  text-align: left;
}

button {
  font-size: 1.3em;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  padding: 0px 30px;
  margin-left:70%;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

button:hover {
  font-size: 1.3em;
  color: rgba(38, 53, 53, 0.87);
  background-color: white;
}



