
.header {
  background-color: rgba(38, 53, 53, 0.87);
  margin: 0px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

h1 {
  color: white;
  padding-left: 10vw;
}

button {
  font-size: 1.3em;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 35px;
  margin-right: 10vw;

}

button:hover {
  font-size: 1.3em;
  color: rgba(38, 53, 53, 0.87);
  background-color: white;
}



